.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}